.tooltip {
	position: relative;
	display: inline-block;

}

.tooltip .tooltip-text {
	visibility: hidden;
	width: 80px;
	background-color: #fff;
	color: #000;
	text-align: left;
	padding: 10px;
	border: 1px solid black;
	z-index: 1;

}

.tooltip:hover .tooltip-text {
	visibility: visible;
}